$font-family: 'Montserrat', sans-serif;
$coin-title: 'Raleway', sans-serif;
$coin-price: 'Roboto', sans-serif;

$color-light: #fff;
$color-primary: #010010;
$color-secondary: #73FDAA;
$color-secondary-light: #BBFFFF;

$gradient: linear-gradient(270deg, rgba(115, 253, 170, 0.89) 0%, rgba(196, 196, 196, 0) 100%);

$max-width: 1920;
$width-xxl: 1440px;
$width-xl: 1200px;
$width-lg: 1024px;
$width-md: 768px;
$width-sm: 576px;
$width-xs: 375px;
