@import './../../styles/abstracts/mixins';
@import './../../styles/base/base';

.header {
  padding-top: 66px;

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
  }
}
