@import './../../styles/abstracts/variables';
@import './../../styles/abstracts/mixins';
@import './../../styles/abstracts/placeholders';

.nav {
  display: flex;
  gap: 30px 55px;
  @extend %transition;

  .active__link {
    color: $color-secondary;
  }
}
