@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.intro {
  padding-top: 160px;
  @include lg {
    padding-top: 75px;
  }

  &__img {
    @include md {
      max-width: 360px;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @include md {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
    max-width: 737px;

    @include md {
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 10px;
    @include font-properties(75px, 1.2, 700);
    
    @include lg {
      font-size: 60px;
    }

    @include md {
      font-size: 32px;
    }
  }

  &__text {
    margin-bottom: 70px;

    p {
      @include font-properties (36px);

      @include md {
        font-size: 20px;
      }
    }
  }

  &__btns {
    display: flex;
    gap: 25px 60px;

    &__colored {
      background-color: $color-secondary-light;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__light {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
