@import './../../styles/abstracts/variables';
@import './../../styles/abstracts/mixins';

.footer {
  margin-top: auto;
  padding: 90px 0 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 100px 20px;
    flex-wrap: wrap;
    margin-bottom: 90px;

    @include md {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 100%;
    
    &:first-child {
      max-width: 350px;
    }
    &:last-child {
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__nav {
    flex-direction: column;
  }

  small {
    display: block;
    text-align: right;

    @include md {
      text-align: center;
    }
  }
}